TestProject/.vs/
TestProject/Binaries/
TestProject/Build/
TestProject/Intermediate/
TestProject/Saved/
TestProject/StarryTail.sln
TestProject/Plugins/
!Config/
!Content/
!Source/
TestProject.uproject
*_BuiltData.uasset